[build-system]
requires = ["setuptools>=45", "setuptools-scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ plugin_name }}"
authors = [
    {name = "{{ user_name }}", email = "{{ email }}"},
]
description = "Plugin package for metasyn with {{ plugin_name }}."
readme = "README.md"
requires-python = ">=3.8"
keywords = ["metasyn", "{{ plugin_name }}"]
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
	"metasyn",
	"polars",
]
dynamic = ["version"]

[project.optional-dependencies]
test = [
	"pytest", "pylint", "pydocstyle", "mypy", "flake8", "nbval",
]

[tool.setuptools]
packages = ["metasyncontrib"]

[project.entry-points."metasyn.distribution_provider"]
{{ plugin_name }} = "metasyncontrib.{{ plugin_name }}.provider:{{ prefix }}Provider"

[project.entry-points."metasyn.privacy"]
{{ plugin_name }} = "metasyncontrib.{{ plugin_name }}.privacy:{{ prefix }}"
