"""{{ plugin_name }} classes for categorical variables."""

import polars as pl

from metasyn.distribution.discrete import DiscreteUniformDistribution
from metasyn.distribution.discrete import PoissonDistribution
from metasyn.distribution.discrete import UniqueKeyDistribution
from metasyn.distribution.discrete import DiscreteTruncatedNormalDistribution
from metasyn.distribution.discrete import DiscreteNormalDistribution

{{ metadist_import_import }}


# {{ decorator }}
# class {{ prefix }}UniqueKey(UniqueKeyDistribution):
#     """UniqueKey distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}DiscreteUniform(DiscreteUniformDistribution):
#     """DiscreteUniform distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}Poisson(PoissonDistribution):
#     """Poisson distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}DiscreteTruncatedNormal(DiscreteTruncatedNormalDistribution):
#     """Discrete truncated normal distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")

# {{ decorator }}
# class {{ prefix }}DiscreteNormal(DiscreteNormalDistribution):
#     """Discrete normal distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")

