"""{{ plugin_name }} classes for string variables."""

from metasyn.distribution.faker import FakerDistribution, UniqueFakerDistribution
from metasyn.distribution.faker import FreeTextDistribution
from metasyn.distribution.regex import RegexDistribution, UniqueRegexDistribution

{{ metadist_import_import }}


# {{ decorator }}
# class {{ prefix }}Faker(FakerDistribution):
#     """Faker distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}UniqueFaker(UniqueFakerDistribution):
#     """Unique faker distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}FreeText(FreeTextDistribution):
#     """Free Text distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}Regex(RegexDistribution):
#     """Regex distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")


# {{ decorator }}
# class {{ prefix }}UniqueRegex(UniqueRegexDistribution):
#     """UniqueRegex distribution implementation with {{ plugin_name|lower }}."""
#
#     @classmethod
#     def _fit(cls, values: pl.Series, extra_argument=default_value):
#         raise NotImplementedError("This distribution is not implemented yet.")
